nav.navbar{
    width: 100%;
    background-color: #2C4B9A;
    padding: 20px;
    position: fixed;
}
.container-fluid{
      
    & span.navbar-brand{
        font-size: 28px;
      & span{
        color: #FF9501;
      }
    }
    
    & a{
      margin-right: 15px;
      text-align: center;
      color: white;
    }
  
    & button{
      background-color: #FF9501;
      color: white;
      border-radius: 20px;
    }
}

  /* .container-main{
    margin-top: 300px;
    width: 80%;
    height: 50%;
    padding: 300px;
  } */
  .container-latest{
      float: left;
      align-items: center;
      width: 50%;
      margin-top: 100px;
      margin-bottom: 50px;
      & a{
          text-align: center;
          width: 50%;
          color: black;
          text-decoration: none;
      }
      & a:hover{
        text-decoration: underline;
      }
    }

  .container-upvote{
      float: right;
      align-items: center;
      width: 50%;
      margin-top: 100px;
      margin-bottom: 50px;
      & a{
        text-align: center;
        width: 50%;
        color: black;
        text-decoration: none;
      }
      & a:hover{
        text-decoration: underline;
      }
    }
  .container-post{
    margin-left: 20%;
    display: flex;
    align-content: center;
    width: 60%;
    border-radius: 12px;
    background-color: #F0EFEF;
    top: 70px;
    padding: 20px;
      & img{
        border-radius: 50%;
        width: 5%;
        height: 5%;
      }
      & form{
        margin-left: 15px;
        width: 90%;
      }
      & textArea{
        border: none;
        background-color: #F0EFEF;
        width: 100%;
        margin-left: 3%;
        outline: none;
      }
      & label{
        margin-top: 40px;
        margin-left: 30px;
        cursor: pointer;
        & img{
          width: 25px;
          border-radius: 0;
        }
      }
      & button{
        background-color: #FF9501;
        color: white;
        border-radius: 20px;
        margin-left: 60%;
        width: 15%;
      }
  }

.container-view-posts{
  margin-left: 20%;
  margin-top: 5%;
  position: static;
  display: flex;
  align-content: center;
  width: 60%;
  border-radius: 12px;
  background-color: #F0EFEF;
  top: 90px;
  padding: 20px;
  
  & img{
    border-radius: 50%;
    width: 5%;
    height: 5%;
  }
  .container-view-posts2{
    display: block;
    max-height: 550px;
    width: 100%;
    & h6{
      margin-left: 12px;
      font-size: 22px;
    }
    & p{
      float: left;
      position: relative;
      margin-top: 20px;
      cursor: pointer;
    }
    & img.content-image{
      width: 200px;
      height: 100px;
      border-radius: 0;
      position: relative;
    }
    & video{
      position: relative;
      width: 200px;
      height: 100px;
    }
    & .reactions{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      & a{
        margin-left: 10%
      }
      & span{
        margin-left: 5%;
      }
      & .btn-comment{
          border: none;
          float: left;
          margin-right: 25%;
          width: 50%;
          height: 50px;
          & img{
            width: 25px;
            height: 25px;
          }
      }
      & .btn-upvote{
        border: none;
        float: right;
        margin-left: 25%;
        width: 50%;
        height: 50px;
        & img{
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}